# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
kriopigi-data-env/

# Copernicus downloaded datasets
*.nc

# Copernicus credentials / secrets
.copernicusmarine/
*credentials*
.env
.env.*

# JavaScript dependencies and builds
node_modules/
dist/
.wrangler/

# Logs
*.log
